<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testframe.autotest.core.repository.mapper.SceneStepMapper" >
  <resultMap id="BaseResultMap" type="com.testframe.autotest.core.meta.po.SceneStep" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sceneId" property="sceneId" jdbcType="BIGINT" />
    <result column="stepId" property="stepId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="isDelete" property="isDelete" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="BIGINT" />
    <result column="updateTime" property="updateTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sceneId, stepId, status, isDelete, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from AUTO_TEST_SCENE_STEP
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from AUTO_TEST_SCENE_STEP
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.testframe.autotest.core.meta.po.SceneStep" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into AUTO_TEST_SCENE_STEP (sceneId, stepId, status, 
      isDelete, createTime, updateTime
      )
    values (#{sceneId,jdbcType=BIGINT}, #{stepId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, 
      #{isDelete,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.testframe.autotest.core.meta.po.SceneStep" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into AUTO_TEST_SCENE_STEP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sceneId != null" >
        sceneId,
      </if>
      <if test="stepId != null" >
        stepId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isDelete != null" >
        isDelete,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sceneId != null" >
        #{sceneId,jdbcType=BIGINT},
      </if>
      <if test="stepId != null" >
        #{stepId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.testframe.autotest.core.meta.po.SceneStep" >
    update AUTO_TEST_SCENE_STEP
    <set >
      <if test="sceneId != null" >
        sceneId = #{sceneId,jdbcType=BIGINT},
      </if>
      <if test="stepId != null" >
        stepId = #{stepId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        isDelete = #{isDelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.testframe.autotest.core.meta.po.SceneStep" >
    update AUTO_TEST_SCENE_STEP
    set sceneId = #{sceneId,jdbcType=BIGINT},
      stepId = #{stepId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      isDelete = #{isDelete,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=BIGINT},
      updateTime = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="queryStepsBySceneId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select *
    from AUTO_TEST_SCENE_STEP
    where sceneId = #{sceneId,jdbcType=BIGINT} AND
          isDelete = 0
  </select>

  <select id="queryStepByStepId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select *
    from AUTO_TEST_SCENE_STEP
    where stepId = #{stepId,jdbcType=BIGINT} AND
      isDelete = 0
  </select>

  <select id="queryStepByStepIds" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select *
    from AUTO_TEST_SCENE_STEP
    where stepId in
    <foreach collection="stepIds" index="i" item="stepId" close=")" open="(" separator=",">
      #{stepId}
    </foreach>
    AND isDelete = 0
  </select>

</mapper>