<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.testframe.autotest.core.repository.mapper.StepDetailMapper" >
  <resultMap id="BaseResultMap" type="com.testframe.autotest.core.meta.po.StepDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="stepName" property="stepName" jdbcType="VARCHAR" />
    <result column="stepInfo" property="stepInfo" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="BIGINT" />
    <result column="updateTime" property="updateTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, stepName, stepInfo, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from AUTO_TEST_STEP_DETAIL
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from AUTO_TEST_STEP_DETAIL
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.testframe.autotest.core.meta.po.StepDetail" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into AUTO_TEST_STEP_DETAIL (stepName, stepInfo, createTime, 
      updateTime)
    values (#{stepName,jdbcType=VARCHAR}, #{stepInfo,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.testframe.autotest.core.meta.po.StepDetail" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into AUTO_TEST_STEP_DETAIL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stepName != null" >
        stepName,
      </if>
      <if test="stepInfo != null" >
        stepInfo,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stepName != null" >
        #{stepName,jdbcType=VARCHAR},
      </if>
      <if test="stepInfo != null" >
        #{stepInfo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.testframe.autotest.core.meta.po.StepDetail" >
    update AUTO_TEST_STEP_DETAIL
    <set >
      <if test="stepName != null" >
        stepName = #{stepName,jdbcType=VARCHAR},
      </if>
      <if test="stepInfo != null" >
        stepInfo = #{stepInfo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.testframe.autotest.core.meta.po.StepDetail" >
    update AUTO_TEST_STEP_DETAIL
    set stepName = #{stepName,jdbcType=VARCHAR},
      stepInfo = #{stepInfo,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=BIGINT},
      updateTime = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="queryStepByIds" resultMap="BaseResultMap">
    select *
    from AUTO_TEST_STEP_DETAIL
    where id in
    <foreach collection="stepIds" index="i" item="stepId" close=")" open="(" separator=",">
      #{stepId}
    </foreach>
    order by id desc
   </select>

</mapper>